In [1]:
import os
os.chdir('C:\\Users\\Hammad\\Desktop\\Python Code')

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import KFold

from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

from sklearn.preprocessing import OneHotEncoder 
from sklearn.compose import ColumnTransformer

from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [4]:
# multi-class classification with Keras using sk-learn
from keras.wrappers.scikit_learn import KerasClassifier

import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import np_utils

import tensorflow as tf

In [5]:
#importing dataset
data = pd.read_csv('Merged(FinalAllVariables).csv')

In [6]:
data.head(3)

,Date,Disease,Case_no,Received_D,Report_Tim,Doctor_s_N,District,RHC_BHU_Na,RHC_BHU_Ad,Lattitude,...,DUCMASS25,OCCMASS,SO2CMASS,AOD,COSC,TO3,PS,QLML,SPEEDLML,TLML
0,3,ARI/Pneum > 5 Yrs,3,23-Nov-2017,NaN,Muhammad Baksh,KHUSHAB,Basic Health Unit SHUMAR (GUNJIAL) KHUSHAB,SHUMAR (GUNJIAL) KHUSHAB,32.334890,...,0.000055,0.000048,0.000006,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183
1,9,ARI/Pneum > 5 Yrs,3,23-Nov-2017,NaN,Abida Parveen,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,...,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183
2,7,ARI/Pneum > 5 Yrs,5,23-Nov-2017,NaN,Abida Parveen,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,...,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183

In [7]:
dataset=data.drop(['Date','Case_no', 'Doctor_s_N','Lattitude','Longitude','Report_Tim','Date_Time','RHC_BHU_Na'], axis = 1)

In [8]:
dataset.head(10)

,Disease,Received_D,District,RHC_BHU_Ad,BCCMASS,DUCMASS25,OCCMASS,SO2CMASS,AOD,COSC,TO3,PS,QLML,SPEEDLML,TLML
0,ARI/Pneum > 5 Yrs,23-Nov-2017,KHUSHAB,SHUMAR (GUNJIAL) KHUSHAB,0.000009,0.000055,0.000048,0.000006,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183
1,ARI/Pneum > 5 Yrs,23-Nov-2017,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183
2,ARI/Pneum > 5 Yrs,23-Nov-2017,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183
3,ARI/Pneum < 5 Yrs,23-Nov-2017,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183
4,ARI/Pneum < 5 Yrs,23-Nov-2017,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183
5,ARI/Pneum > 5 Yrs,23-Nov-2017,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183
6,ARI/Pneum < 5 Yrs,23-Nov-2017,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183
7,ARI/Pneum > 5 Yrs,23-Nov-2017,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183
8,ARI/Pneum < 5 Yrs,23-Nov-2017,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183
9,ARI/Pneum > 5 Yrs,23-Nov-2017,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183

In [9]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Disease     22552 non-null  object
 1   Received_D  22552 non-null  object
 2   District    22552 non-null  object
 3   RHC_BHU_Ad  22552 non-null  object
 4   BCCMASS     22552 non-null  float64
 5   DUCMASS25   22552 non-null  float64
 6   OCCMASS     22552 non-null  float64
 7   SO2CMASS    22552 non-null  float64
 8   AOD         22552 non-null  float64
 9   COSC        22552 non-null  float64
 10  TO3         22552 non-null  float64
 11  PS          22552 non-null  float64
 12  QLML        22552 non-null  float64
 13  SPEEDLML    22552 non-null  float64
 14  TLML        22552 non-null  float64
dtypes: float64(11), object(4)
memory usage: 2.6+ MB

In [10]:
from datetime import datetime
dataset['Received_D'] = pd.to_datetime(dataset['Received_D'])
#dataset['Received_D'] = pd.to_datetime(dataset['Received_D'], format='%d/%B/%Y')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Disease     22552 non-null  object
 1   Received_D  22552 non-null  datetime64[ns]
 2   District    22552 non-null  object
 3   RHC_BHU_Ad  22552 non-null  object
 4   BCCMASS     22552 non-null  float64
 5   DUCMASS25   22552 non-null  float64
 6   OCCMASS     22552 non-null  float64
 7   SO2CMASS    22552 non-null  float64
 8   AOD         22552 non-null  float64
 9   COSC        22552 non-null  float64
 10  TO3         22552 non-null  float64
 11  PS          22552 non-null  float64
 12  QLML        22552 non-null  float64
 13  SPEEDLML    22552 non-null  float64
 14  TLML        22552 non-null  float64
dtypes: datetime64[ns](1), float64(11), object(3)
memory usage: 2.6+ MB

In [11]:
dataset.head(5)

,Disease,Received_D,District,RHC_BHU_Ad,BCCMASS,DUCMASS25,OCCMASS,SO2CMASS,AOD,COSC,TO3,PS,QLML,SPEEDLML,TLML
0,ARI/Pneum > 5 Yrs,2017-11-23,KHUSHAB,SHUMAR (GUNJIAL) KHUSHAB,0.000009,0.000055,0.000048,0.000006,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183
1,ARI/Pneum > 5 Yrs,2017-11-23,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183
2,ARI/Pneum > 5 Yrs,2017-11-23,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183
3,ARI/Pneum < 5 Yrs,2017-11-23,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183
4,ARI/Pneum < 5 Yrs,2017-11-23,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183

In [12]:
dataset['month-year'] = pd.to_datetime(dataset['Received_D']).dt.to_period('M')
dataset.head(3)

,Disease,Received_D,District,RHC_BHU_Ad,BCCMASS,DUCMASS25,OCCMASS,SO2CMASS,AOD,COSC,TO3,PS,QLML,SPEEDLML,TLML,month-year
0,ARI/Pneum > 5 Yrs,2017-11-23,KHUSHAB,SHUMAR (GUNJIAL) KHUSHAB,0.000009,0.000055,0.000048,0.000006,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11
1,ARI/Pneum > 5 Yrs,2017-11-23,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11
2,ARI/Pneum > 5 Yrs,2017-11-23,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11

In [13]:
len(dataset['RHC_BHU_Ad'].unique())

525

In [14]:
dataset['month-year(Location)'] =  dataset["month-year"].astype(str) +" ("+ dataset["RHC_BHU_Ad"].astype(str)+")"
dataset.head(3)

,Disease,Received_D,District,RHC_BHU_Ad,BCCMASS,DUCMASS25,OCCMASS,SO2CMASS,AOD,COSC,TO3,PS,QLML,SPEEDLML,TLML,month-year,month-year(Location)
0,ARI/Pneum > 5 Yrs,2017-11-23,KHUSHAB,SHUMAR (GUNJIAL) KHUSHAB,0.000009,0.000055,0.000048,0.000006,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11,2017-11 (SHUMAR (GUNJIAL) KHUSHAB)
1,ARI/Pneum > 5 Yrs,2017-11-23,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11,2017-11 (62 D CHAK 62 D TEHSIL PAKPATTAN PAKPA...
2,ARI/Pneum > 5 Yrs,2017-11-23,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11,2017-11 (62 D CHAK 62 D TEHSIL PAKPATTAN PAKPA...

In [15]:
#month year count
location_M_count =  dataset["month-year(Location)"].value_counts().sort_values(ascending=False)
#Convert data to dataframe
df = pd.DataFrame(location_M_count.index)
loc = location_M_count.reset_index(drop=True)
loc.columns = ['1']
loc = pd.merge(left=df, right=loc, left_on=df.index, right_on=loc.index)
location_M_count = loc.drop(['key_0'], axis=1)
location_M_count = location_M_count.rename(columns={ 0:"Month-Year(Location)", "month-year(Location)": "M-Y_LocationCount"})
location_M_count

                            Month-Year(Location)  M-Y_LocationCount
0               2017-11 (TIBBI IZZAT BAHAWALPUR)                184
1        2017-12 (MARI SHIEKH SHUJRA BAHAWALPUR)                176
2               2018-01 (CHAK 104 GB FAISALABAD)                173
3                2018-01 (CHAK 29 BC BAHAWALPUR)                152
4                     2017-11 (ONARI BAHAWALPUR)                150
..                                           ...                ...
535  2017-12 (HAJI GHAZI GHARBI DERA GHAZI KHAN)                  1
536                      2017-12 (VIJH SARGODHA)                  1
537                    2018-02 (NANDPUR SIALKOT)                  1
538                  2017-12 (PIPLI PAHAR OKARA)                  1
539                     2017-12 (DHORI SARGODHA)                  1

[540 rows x 2 columns]

In [16]:
dataset.iloc[:,0].head(3)

0    ARI/Pneum > 5 Yrs
1    ARI/Pneum > 5 Yrs
2    ARI/Pneum > 5 Yrs
Name: Disease, dtype: object

In [17]:
# (ARI/Pneum > 5 Yrs = 1) (ARI/Pneum < 5 Yrs = 0)
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
label_encoder = LabelEncoder()
dataset.iloc[:,0] = label_encoder.fit_transform(dataset.iloc[:,0]).astype('int64')
dataset.head(3)

,Disease,Received_D,District,RHC_BHU_Ad,BCCMASS,DUCMASS25,OCCMASS,SO2CMASS,AOD,COSC,TO3,PS,QLML,SPEEDLML,TLML,month-year,month-year(Location)
0,1,2017-11-23,KHUSHAB,SHUMAR (GUNJIAL) KHUSHAB,0.000009,0.000055,0.000048,0.000006,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11,2017-11 (SHUMAR (GUNJIAL) KHUSHAB)
1,1,2017-11-23,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11,2017-11 (62 D CHAK 62 D TEHSIL PAKPATTAN PAKPA...
2,1,2017-11-23,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11,2017-11 (62 D CHAK 62 D TEHSIL PAKPATTAN PAKPA...

In [18]:
dataset.iloc[:,0].unique()

array([1, 0], dtype=int64)

In [19]:
dataset['month-year(Disease)'] =  dataset["month-year(Location)"].astype(str) +" ("+ dataset["Disease"].astype(str)+")"
dataset.head(3)

,Disease,Received_D,District,RHC_BHU_Ad,BCCMASS,DUCMASS25,OCCMASS,SO2CMASS,AOD,COSC,TO3,PS,QLML,SPEEDLML,TLML,month-year,month-year(Location),month-year(Disease)
0,1,2017-11-23,KHUSHAB,SHUMAR (GUNJIAL) KHUSHAB,0.000009,0.000055,0.000048,0.000006,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11,2017-11 (SHUMAR (GUNJIAL) KHUSHAB),2017-11 (SHUMAR (GUNJIAL) KHUSHAB) (1)
1,1,2017-11-23,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11,2017-11 (62 D CHAK 62 D TEHSIL PAKPATTAN PAKPA...,2017-11 (62 D CHAK 62 D TEHSIL PAKPATTAN PAKPA...
2,1,2017-11-23,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11,2017-11 (62 D CHAK 62 D TEHSIL PAKPATTAN PAKPA...,2017-11 (62 D CHAK 62 D TEHSIL PAKPATTAN PAKPA...

In [20]:
dataset['location_M_count'] =  dataset.groupby('month-year(Disease)')['month-year(Disease)'].transform('count')
len(dataset['month-year(Disease)'].unique())

999

In [21]:
dataset.head(3)

,Disease,Received_D,District,RHC_BHU_Ad,BCCMASS,DUCMASS25,OCCMASS,SO2CMASS,AOD,COSC,TO3,PS,QLML,SPEEDLML,TLML,month-year,month-year(Location),month-year(Disease),location_M_count
0,1,2017-11-23,KHUSHAB,SHUMAR (GUNJIAL) KHUSHAB,0.000009,0.000055,0.000048,0.000006,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11,2017-11 (SHUMAR (GUNJIAL) KHUSHAB),2017-11 (SHUMAR (GUNJIAL) KHUSHAB) (1),1
1,1,2017-11-23,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11,2017-11 (62 D CHAK 62 D TEHSIL PAKPATTAN PAKPA...,2017-11 (62 D CHAK 62 D TEHSIL PAKPATTAN PAKPA...,14
2,1,2017-11-23,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11,2017-11 (62 D CHAK 62 D TEHSIL PAKPATTAN PAKPA...,2017-11 (62 D CHAK 62 D TEHSIL PAKPATTAN PAKPA...,14

In [22]:
#month year count
disease_L_count =  dataset["month-year(Disease)"].value_counts().sort_values(ascending=False)
#Convert data to dataframe
df = pd.DataFrame(disease_L_count.index)
loc = disease_L_count.reset_index(drop=True)
loc.columns = ['1']
loc = pd.merge(left=df, right=loc, left_on=df.index, right_on=loc.index)
disease_L_count = loc.drop(['key_0'], axis=1)
disease_L_count = disease_L_count.rename(columns={ 0:"Month-Year (Location Disease)", "month-year(Disease)": "M-Y_DiseaseCount"})
disease_L_count

                   Month-Year (Location Disease)  M-Y_DiseaseCount
0           2017-11 (TIBBI IZZAT BAHAWALPUR) (1)                92
1           2017-11 (TIBBI IZZAT BAHAWALPUR) (0)                92
2    2017-12 (MARI SHIEKH SHUJRA BAHAWALPUR) (1)                88
3    2017-12 (MARI SHIEKH SHUJRA BAHAWALPUR) (0)                88
4           2018-01 (CHAK 104 GB FAISALABAD) (1)                87
..                                           ...               ...
994           2017-11 (TAL SHUMALI RAJANPUR) (1)                 1
995     2017-12 (BAIT WASAWA SHUMALI LAYYAH) (1)                 1
996                  2017-12 (Jatial ATTOCK) (0)                 1
997           2017-12 (ALI PUR SADAT MULTAN) (1)                 1
998          2018-01 (CHAK 115 12-L SAHIWAL) (0)                 1

[999 rows x 2 columns]

In [23]:
len(dataset['month-year(Disease)'].unique())

999

In [25]:
dataset.shape

(22552, 19)

In [31]:
new_data = dataset.copy()
new_data.shape

(22552, 19)

In [32]:
new_data.drop_duplicates(subset ="month-year(Disease)",inplace = True) 
len(new_data)

999

In [37]:
new_data = new_data.reset_index(drop=True)
new_data

,Disease,Received_D,District,RHC_BHU_Ad,BCCMASS,DUCMASS25,OCCMASS,SO2CMASS,AOD,COSC,TO3,PS,QLML,SPEEDLML,TLML,month-year,month-year(Location),month-year(Disease),location_M_count
0,1,2017-11-23,KHUSHAB,SHUMAR (GUNJIAL) KHUSHAB,0.000009,0.000055,0.000048,0.000006,0.462058,109.2100,277.397,90049.1,0.003209,3.38813,288.183,2017-11,2017-11 (SHUMAR (GUNJIAL) KHUSHAB),2017-11 (SHUMAR (GUNJIAL) KHUSHAB) (1),1
1,1,2017-11-23,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.2100,277.397,90049.1,0.003209,3.38813,288.183,2017-11,2017-11 (62 D CHAK 62 D TEHSIL PAKPATTAN PAKPA...,2017-11 (62 D CHAK 62 D TEHSIL PAKPATTAN PAKPA...,14
2,0,2017-11-23,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.2100,277.397,90049.1,0.003209,3.38813,288.183,2017-11,2017-11 (62 D CHAK 62 D TEHSIL PAKPATTAN PAKPA...,2017-11 (62 D CHAK 62 D TEHSIL PAKPATTAN PAKPA...,13
3,1,2017-11-23,PAKPATTAN,KUMHARIWALA PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.850539,157.2940,271.654,99553.3,0.004323,3.55759,290.368,2017-11,2017-11 (KUMHARIWALA PAKPATTAN),2017-11 (KUMHARIWALA PAKPATTAN) (1),3
4,0,2017-11-23,PAKPATTAN,KUMHARIWALA PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.850539,157.2940,271.654,99553.3,0.004323,3.55759,290.368,2017-11,2017-11 (KUMHARIWALA PAKPATTAN),2017-11 (KUMHARIWALA PAKPATTAN) (0),1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,1,2019-06-20,BAHAWALNAGAR,CHAK 307 HR BAHAWALNAGAR,0.000001,0.000188,0.000005,0.000003,0.656733,69.3891,285.360,98378.7,0.011124,5.94739,305.716,2019-06,2019-06 (CHAK 307 HR BAHAWALNAGAR),2019-06 (CHAK 307 HR BAHAWALNAGAR) (1),27
995,0,2019-06-20,BAHAWALNAGAR,CHAK 307 HR BAHAWALNAGAR,0.000001,0.000188,0.000005,0.000003,0.656733,69.3891,285.360,98378.7,0.011124,5.94739,305.716,2019-06,2019-06 (CHAK 307 HR BAHAWALNAGAR),2019-06 (CHAK 307 HR BAHAWALNAGAR) (0),22
996,0,2019-06-20,BAHAWALNAGAR,Chak 200 8R BAHAWALNAGAR,0.000001,0.000179,0.000006,0.000003,0.609445,73.4428,286.046,98163.5,0.010080,5.31465,305.615,2019-06,2019-06 (Chak 200 8R BAHAWALNAGAR),2019-06 (Chak 200 8R BAHAWALNAGAR) (0),5
997,1,2019-06-20,BAHAWALNAGAR,Chak 200 8R BAHAWALNAGAR,0.000001,0.000179,0.000006,0.000003,0.609445,73.4428,286.046,98163.5,0.010080,5.31465,305.615,2019-06,2019-06 (Chak 200 8R BAHAWALNAGAR),2019-06 (Chak 200 8R BAHAWALNAGAR) (1),5
998,1,2019-07-08,SARGODHA,ASIANWALA SARGODHA,0.000002,0.000253,0.000008,0.000006,0.948930,99.5644,282.649,97584.5,0.016060,4.54706,304.530,2019-07,2019-07 (ASIANWALA SARGODHA),2019-07 (ASIANWALA SARGODHA) (1),6

In [39]:
#Export to csv
new_data.to_csv('New_DiseaseData.csv', index=False)

In [40]:
new_data.head(3)

,Disease,Received_D,District,RHC_BHU_Ad,BCCMASS,DUCMASS25,OCCMASS,SO2CMASS,AOD,COSC,TO3,PS,QLML,SPEEDLML,TLML,month-year,month-year(Location),month-year(Disease),location_M_count
0,1,2017-11-23,KHUSHAB,SHUMAR (GUNJIAL) KHUSHAB,0.000009,0.000055,0.000048,0.000006,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11,2017-11 (SHUMAR (GUNJIAL) KHUSHAB),2017-11 (SHUMAR (GUNJIAL) KHUSHAB) (1),1
1,1,2017-11-23,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11,2017-11 (62 D CHAK 62 D TEHSIL PAKPATTAN PAKPA...,2017-11 (62 D CHAK 62 D TEHSIL PAKPATTAN PAKPA...,14
2,0,2017-11-23,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11,2017-11 (62 D CHAK 62 D TEHSIL PAKPATTAN PAKPA...,2017-11 (62 D CHAK 62 D TEHSIL PAKPATTAN PAKPA...,13

In [42]:
new_data =new_data.drop(['Received_D','District', 'month-year(Location)', 'month-year(Disease)'], axis = 1) 
new_data.head(3)

,Disease,RHC_BHU_Ad,BCCMASS,DUCMASS25,OCCMASS,SO2CMASS,AOD,COSC,TO3,PS,QLML,SPEEDLML,TLML,month-year,location_M_count
0,1,SHUMAR (GUNJIAL) KHUSHAB,0.000009,0.000055,0.000048,0.000006,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11,1
1,1,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11,14
2,0,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11,13

In [45]:
new_data.shape

(999, 15)

In [44]:
#Making categorical variables into numeric representation

sel_features = ['RHC_BHU_Ad', 'month-year']

print(new_data.shape)

# keeping the columns we need 
raw_data = new_data[sel_features]
print(raw_data.shape)

# Making categorical variables into numeric representation
new_raw_data = pd.get_dummies(raw_data, columns = sel_features)

# print the shape
print(new_raw_data.shape)
new_raw_data

(999, 15)
(999, 2)
(999, 535)

,RHC_BHU_Ad_1 WB VEHARI,RHC_BHU_Ad_221 Dooghra CHINIOT,RHC_BHU_Ad_267 EB VEHARI,RHC_BHU_Ad_41 WB VEHARI,RHC_BHU_Ad_453 GB FAISALABAD,RHC_BHU_Ad_477 EB VEHARI,RHC_BHU_Ad_490 GB 490 GB FAISALABAD,RHC_BHU_Ad_518-TDA MUZAFFARGARH,RHC_BHU_Ad_521 EB VEHARI,RHC_BHU_Ad_53 WB VEHARI,...,month-year_2017-11,month-year_2017-12,month-year_2018-01,month-year_2018-02,month-year_2018-03,month-year_2018-04,month-year_2018-05,month-year_2018-09,month-year_2019-06,month-year_2019-07
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [46]:
result = pd.concat([new_data, new_raw_data], axis=1)
result.head(3)

,Disease,RHC_BHU_Ad,BCCMASS,DUCMASS25,OCCMASS,SO2CMASS,AOD,COSC,TO3,PS,...,month-year_2017-11,month-year_2017-12,month-year_2018-01,month-year_2018-02,month-year_2018-03,month-year_2018-04,month-year_2018-05,month-year_2018-09,month-year_2019-06,month-year_2019-07
0,1,SHUMAR (GUNJIAL) KHUSHAB,0.000009,0.000055,0.000048,0.000006,0.462058,109.21,277.397,90049.1,...,1,0,0,0,0,0,0,0,0,0
1,1,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,...,1,0,0,0,0,0,0,0,0,0
2,0,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0.000012,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,...,1,0,0,0,0,0,0,0,0,0

In [58]:
X = result.drop(['RHC_BHU_Ad','month-year'], axis=1)
X

,Disease,BCCMASS,DUCMASS25,OCCMASS,SO2CMASS,AOD,COSC,TO3,PS,QLML,...,month-year_2017-11,month-year_2017-12,month-year_2018-01,month-year_2018-02,month-year_2018-03,month-year_2018-04,month-year_2018-05,month-year_2018-09,month-year_2019-06,month-year_2019-07
0,1,0.000009,0.000055,0.000048,0.000006,0.462058,109.2100,277.397,90049.1,0.003209,...,1,0,0,0,0,0,0,0,0,0
1,1,0.000012,0.000061,0.000063,0.000010,0.462058,109.2100,277.397,90049.1,0.003209,...,1,0,0,0,0,0,0,0,0,0
2,0,0.000012,0.000061,0.000063,0.000010,0.462058,109.2100,277.397,90049.1,0.003209,...,1,0,0,0,0,0,0,0,0,0
3,1,0.000012,0.000061,0.000063,0.000010,0.850539,157.2940,271.654,99553.3,0.004323,...,1,0,0,0,0,0,0,0,0,0
4,0,0.000012,0.000061,0.000063,0.000010,0.850539,157.2940,271.654,99553.3,0.004323,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,1,0.000001,0.000188,0.000005,0.000003,0.656733,69.3891,285.360,98378.7,0.011124,...,0,0,0,0,0,0,0,0,1,0
995,0,0.000001,0.000188,0.000005,0.000003,0.656733,69.3891,285.360,98378.7,0.011124,...,0,0,0,0,0,0,0,0,1,0
996,0,0.000001,0.000179,0.000006,0.000003,0.609445,73.4428,286.046,98163.5,0.010080,...,0,0,0,0,0,0,0,0,1,0
997,1,0.000001,0.000179,0.000006,0.000003,0.609445,73.4428,286.046,98163.5,0.010080,...,0,0,0,0,0,0,0,0,1,0
998,1,0.000002,0.000253,0.000008,0.000006,0.948930,99.5644,282.649,97584.5,0.016060,...,0,0,0,0,0,0,0,0,0,1

In [59]:
x=X.iloc[:,0:548]
y=X.iloc[:,12]

In [62]:
x = x.drop(['location_M_count'], axis=1)
x

,Disease,BCCMASS,DUCMASS25,OCCMASS,SO2CMASS,AOD,COSC,TO3,PS,QLML,...,month-year_2017-11,month-year_2017-12,month-year_2018-01,month-year_2018-02,month-year_2018-03,month-year_2018-04,month-year_2018-05,month-year_2018-09,month-year_2019-06,month-year_2019-07
0,1,0.000009,0.000055,0.000048,0.000006,0.462058,109.2100,277.397,90049.1,0.003209,...,1,0,0,0,0,0,0,0,0,0
1,1,0.000012,0.000061,0.000063,0.000010,0.462058,109.2100,277.397,90049.1,0.003209,...,1,0,0,0,0,0,0,0,0,0
2,0,0.000012,0.000061,0.000063,0.000010,0.462058,109.2100,277.397,90049.1,0.003209,...,1,0,0,0,0,0,0,0,0,0
3,1,0.000012,0.000061,0.000063,0.000010,0.850539,157.2940,271.654,99553.3,0.004323,...,1,0,0,0,0,0,0,0,0,0
4,0,0.000012,0.000061,0.000063,0.000010,0.850539,157.2940,271.654,99553.3,0.004323,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,1,0.000001,0.000188,0.000005,0.000003,0.656733,69.3891,285.360,98378.7,0.011124,...,0,0,0,0,0,0,0,0,1,0
995,0,0.000001,0.000188,0.000005,0.000003,0.656733,69.3891,285.360,98378.7,0.011124,...,0,0,0,0,0,0,0,0,1,0
996,0,0.000001,0.000179,0.000006,0.000003,0.609445,73.4428,286.046,98163.5,0.010080,...,0,0,0,0,0,0,0,0,1,0
997,1,0.000001,0.000179,0.000006,0.000003,0.609445,73.4428,286.046,98163.5,0.010080,...,0,0,0,0,0,0,0,0,1,0
998,1,0.000002,0.000253,0.000008,0.000006,0.948930,99.5644,282.649,97584.5,0.016060,...,0,0,0,0,0,0,0,0,0,1

In [61]:
y

0       1
1      14
2      13
3       3
4       1
       ..
994    27
995    22
996     5
997     5
998     6
Name: location_M_count, Length: 999, dtype: int64

In [63]:
x = x.values
y = y.values

In [64]:
#Standard Scaler (not beteen 0-1) with dataset (without GAN)
sc = StandardScaler()
xs =sc.fit_transform(x)
xs

array([[ 0.97332853,  1.6034012 ,  0.07932634, ..., -0.08400269,
        -0.06340426, -0.03165445],
       [ 0.97332853,  2.95465619,  0.20852331, ..., -0.08400269,
        -0.06340426, -0.03165445],
       [-1.02740233,  2.95465619,  0.20852331, ..., -0.08400269,
        -0.06340426, -0.03165445],
       ...,
       [-1.02740233, -1.81947982,  2.79528758, ..., -0.08400269,
        15.7718103 , -0.03165445],
       [ 0.97332853, -1.81947982,  2.79528758, ..., -0.08400269,
        15.7718103 , -0.03165445],
       [ 0.97332853, -1.45258277,  4.41938111, ..., -0.08400269,
        -0.06340426, 31.591138  ]])

In [ ]:
#MinMax Scaler (0-1) dataset (without GAN)
scaler = MinMaxScaler()
xm =scaler.fit_transform(x)
xm

In [ ]:
print(xs.shape)
print(xm.shape)

In [65]:
#Stratified K Fold split
kfold = StratifiedKFold(n_splits=10, random_state=1, shuffle=True)
print(kfold)

StratifiedKFold(n_splits=10, random_state=1, shuffle=True)

In [66]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import SGDRegressor
from sklearn import metrics

In [67]:
from sklearn.svm import SVR
from sklearn.model_selection import learning_curve
from sklearn.metrics import r2_score,mean_squared_error

In [ ]:
# prepare the cross-validation procedure
cv = KFold(n_splits=10, random_state=1, shuffle=True)
# create model
model = LogisticRegression()
# evaluate model
scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
# report performance
print('Accuracy: %.3f (%.3f)' % (mean(scores), std(scores)))

In [73]:
scores = []
best_svr = SVR(kernel='rbf')
cv = KFold(n_splits=10, random_state=42, shuffle=False)
for train_index, test_index in cv.split(xs):
    print("Train Index: ", train_index, "\n")
    print("Test Index: ", test_index)

    X_train, X_test, y_train, y_test = xs[train_index], xs[test_index], y[train_index], y[test_index]
    best_svr.fit(X_train, y_train)
    scores.append(best_svr.score(X_test, y_test))

Train Index:  [100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117
 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135
 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153
 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171
 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189
 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207
 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225
 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243
 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261
 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279
 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297
 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315
 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333
 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351
 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369
 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387
 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405
 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423
 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441
 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459
 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477
 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495
 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511 512 513
 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531
 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 549
 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565 566 567
 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585
 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601 602 603
 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621
 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639
 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655 656 657
 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673 674 675
 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691 692 693
 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709 710 711
 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727 728 729
 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745 746 747
 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763 764 765
 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781 782 783
 784 785 786 787 788 789 790 791 792 793 794 795 796 797 798 799 800 801
 802 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817 818 819
 820 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835 836 837
 838 839 840 841 842 843 844 845 846 847 848 849 850 851 852 853 854 855
 856 857 858 859 860 861 862 863 864 865 866 867 868 869 870 871 872 873
 874 875 876 877 878 879 880 881 882 883 884 885 886 887 888 889 890 891
 892 893 894 895 896 897 898 899 900 901 902 903 904 905 906 907 908 909
 910 911 912 913 914 915 916 917 918 919 920 921 922 923 924 925 926 927
 928 929 930 931 932 933 934 935 936 937 938 939 940 941 942 943 944 945
 946 947 948 949 950 951 952 953 954 955 956 957 958 959 960 961 962 963
 964 965 966 967 968 969 970 971 972 973 974 975 976 977 978 979 980 981
 982 983 984 985 986 987 988 989 990 991 992 993 994 995 996 997 998]

Test Index:  [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98 99]
Train Index:  [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 200 201 202 203 204 205 206 207
 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225
 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243
 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261
 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279
 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297
 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315
 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333
 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351
 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369
 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387
 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405
 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423
 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441
 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459
 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477
 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495
 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511 512 513
 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531
 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 549
 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565 566 567
 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585
 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601 602 603
 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621
 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639
 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655 656 657
 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673 674 675
 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691 692 693
 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709 710 711
 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727 728 729
 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745 746 747
 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763 764 765
 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781 782 783
 784 785 786 787 788 789 790 791 792 793 794 795 796 797 798 799 800 801
 802 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817 818 819
 820 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835 836 837
 838 839 840 841 842 843 844 845 846 847 848 849 850 851 852 853 854 855
 856 857 858 859 860 861 862 863 864 865 866 867 868 869 870 871 872 873
 874 875 876 877 878 879 880 881 882 883 884 885 886 887 888 889 890 891
 892 893 894 895 896 897 898 899 900 901 902 903 904 905 906 907 908 909
 910 911 912 913 914 915 916 917 918 919 920 921 922 923 924 925 926 927
 928 929 930 931 932 933 934 935 936 937 938 939 940 941 942 943 944 945
 946 947 948 949 950 951 952 953 954 955 956 957 958 959 960 961 962 963
 964 965 966 967 968 969 970 971 972 973 974 975 976 977 978 979 980 981
 982 983 984 985 986 987 988 989 990 991 992 993 994 995 996 997 998]

Test Index:  [100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117
 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135
 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153
 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171
 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189
 190 191 192 193 194 195 196 197 198 199]
Train Index:  [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315
 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333
 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351
 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369
 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387
 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405
 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423
 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441
 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459
 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477
 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495
 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511 512 513
 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531
 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 549
 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565 566 567
 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585
 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601 602 603
 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621
 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639
 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655 656 657
 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673 674 675
 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691 692 693
 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709 710 711
 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727 728 729
 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745 746 747
 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763 764 765
 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781 782 783
 784 785 786 787 788 789 790 791 792 793 794 795 796 797 798 799 800 801
 802 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817 818 819
 820 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835 836 837
 838 839 840 841 842 843 844 845 846 847 848 849 850 851 852 853 854 855
 856 857 858 859 860 861 862 863 864 865 866 867 868 869 870 871 872 873
 874 875 876 877 878 879 880 881 882 883 884 885 886 887 888 889 890 891
 892 893 894 895 896 897 898 899 900 901 902 903 904 905 906 907 908 909
 910 911 912 913 914 915 916 917 918 919 920 921 922 923 924 925 926 927
 928 929 930 931 932 933 934 935 936 937 938 939 940 941 942 943 944 945
 946 947 948 949 950 951 952 953 954 955 956 957 958 959 960 961 962 963
 964 965 966 967 968 969 970 971 972 973 974 975 976 977 978 979 980 981
 982 983 984 985 986 987 988 989 990 991 992 993 994 995 996 997 998]

Test Index:  [200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217
 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235
 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253
 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271
 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289
 290 291 292 293 294 295 296 297 298 299]

Train Index:  [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 400 401 402 403 404 405
 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423
 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441
 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459
 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477
 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495
 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511 512 513
 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531
 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 549
 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565 566 567
 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585
 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601 602 603
 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621
 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639
 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655 656 657
 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673 674 675
 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691 692 693
 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709 710 711
 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727 728 729
 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745 746 747
 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763 764 765
 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781 782 783
 784 785 786 787 788 789 790 791 792 793 794 795 796 797 798 799 800 801
 802 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817 818 819
 820 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835 836 837
 838 839 840 841 842 843 844 845 846 847 848 849 850 851 852 853 854 855
 856 857 858 859 860 861 862 863 864 865 866 867 868 869 870 871 872 873
 874 875 876 877 878 879 880 881 882 883 884 885 886 887 888 889 890 891
 892 893 894 895 896 897 898 899 900 901 902 903 904 905 906 907 908 909
 910 911 912 913 914 915 916 917 918 919 920 921 922 923 924 925 926 927
 928 929 930 931 932 933 934 935 936 937 938 939 940 941 942 943 944 945
 946 947 948 949 950 951 952 953 954 955 956 957 958 959 960 961 962 963
 964 965 966 967 968 969 970 971 972 973 974 975 976 977 978 979 980 981
 982 983 984 985 986 987 988 989 990 991 992 993 994 995 996 997 998]

Test Index:  [300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317
 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335
 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353
 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371
 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389
 390 391 392 393 394 395 396 397 398 399]
Train Index:  [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 500 501 502 503 504 505 506 507 508 509 510 511 512 513
 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531
 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 549
 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565 566 567
 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585
 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601 602 603
 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621
 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639
 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655 656 657
 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673 674 675
 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691 692 693
 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709 710 711
 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727 728 729
 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745 746 747
 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763 764 765
 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781 782 783
 784 785 786 787 788 789 790 791 792 793 794 795 796 797 798 799 800 801
 802 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817 818 819
 820 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835 836 837
 838 839 840 841 842 843 844 845 846 847 848 849 850 851 852 853 854 855
 856 857 858 859 860 861 862 863 864 865 866 867 868 869 870 871 872 873
 874 875 876 877 878 879 880 881 882 883 884 885 886 887 888 889 890 891
 892 893 894 895 896 897 898 899 900 901 902 903 904 905 906 907 908 909
 910 911 912 913 914 915 916 917 918 919 920 921 922 923 924 925 926 927
 928 929 930 931 932 933 934 935 936 937 938 939 940 941 942 943 944 945
 946 947 948 949 950 951 952 953 954 955 956 957 958 959 960 961 962 963
 964 965 966 967 968 969 970 971 972 973 974 975 976 977 978 979 980 981
 982 983 984 985 986 987 988 989 990 991 992 993 994 995 996 997 998]

Test Index:  [400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417
 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435
 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453
 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471
 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487 488 489
 490 491 492 493 494 495 496 497 498 499]
Train Index:  [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 600 601 602 603
 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621
 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639
 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655 656 657
 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673 674 675
 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691 692 693
 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709 710 711
 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727 728 729
 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745 746 747
 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763 764 765
 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781 782 783
 784 785 786 787 788 789 790 791 792 793 794 795 796 797 798 799 800 801
 802 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817 818 819
 820 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835 836 837
 838 839 840 841 842 843 844 845 846 847 848 849 850 851 852 853 854 855
 856 857 858 859 860 861 862 863 864 865 866 867 868 869 870 871 872 873
 874 875 876 877 878 879 880 881 882 883 884 885 886 887 888 889 890 891
 892 893 894 895 896 897 898 899 900 901 902 903 904 905 906 907 908 909
 910 911 912 913 914 915 916 917 918 919 920 921 922 923 924 925 926 927
 928 929 930 931 932 933 934 935 936 937 938 939 940 941 942 943 944 945
 946 947 948 949 950 951 952 953 954 955 956 957 958 959 960 961 962 963
 964 965 966 967 968 969 970 971 972 973 974 975 976 977 978 979 980 981
 982 983 984 985 986 987 988 989 990 991 992 993 994 995 996 997 998]

Test Index:  [500 501 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517
 518 519 520 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535
 536 537 538 539 540 541 542 543 544 545 546 547 548 549 550 551 552 553
 554 555 556 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571
 572 573 574 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589
 590 591 592 593 594 595 596 597 598 599]

Train Index:  [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539
 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557
 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575
 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593
 594 595 596 597 598 599 700 701 702 703 704 705 706 707 708 709 710 711
 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727 728 729
 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745 746 747
 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763 764 765
 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781 782 783
 784 785 786 787 788 789 790 791 792 793 794 795 796 797 798 799 800 801
 802 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817 818 819
 820 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835 836 837
 838 839 840 841 842 843 844 845 846 847 848 849 850 851 852 853 854 855
 856 857 858 859 860 861 862 863 864 865 866 867 868 869 870 871 872 873
 874 875 876 877 878 879 880 881 882 883 884 885 886 887 888 889 890 891
 892 893 894 895 896 897 898 899 900 901 902 903 904 905 906 907 908 909
 910 911 912 913 914 915 916 917 918 919 920 921 922 923 924 925 926 927
 928 929 930 931 932 933 934 935 936 937 938 939 940 941 942 943 944 945
 946 947 948 949 950 951 952 953 954 955 956 957 958 959 960 961 962 963
 964 965 966 967 968 969 970 971 972 973 974 975 976 977 978 979 980 981
 982 983 984 985 986 987 988 989 990 991 992 993 994 995 996 997 998]

Test Index:  [600 601 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617
 618 619 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635
 636 637 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653
 654 655 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671
 672 673 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689
 690 691 692 693 694 695 696 697 698 699]
Train Index:  [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539
 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557
 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575
 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593
 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611
 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629
 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647
 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665
 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683
 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 800 801
 802 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817 818 819
 820 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835 836 837
 838 839 840 841 842 843 844 845 846 847 848 849 850 851 852 853 854 855
 856 857 858 859 860 861 862 863 864 865 866 867 868 869 870 871 872 873
 874 875 876 877 878 879 880 881 882 883 884 885 886 887 888 889 890 891
 892 893 894 895 896 897 898 899 900 901 902 903 904 905 906 907 908 909
 910 911 912 913 914 915 916 917 918 919 920 921 922 923 924 925 926 927
 928 929 930 931 932 933 934 935 936 937 938 939 940 941 942 943 944 945
 946 947 948 949 950 951 952 953 954 955 956 957 958 959 960 961 962 963
 964 965 966 967 968 969 970 971 972 973 974 975 976 977 978 979 980 981
 982 983 984 985 986 987 988 989 990 991 992 993 994 995 996 997 998]

Test Index:  [700 701 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717
 718 719 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735
 736 737 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753
 754 755 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771
 772 773 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789
 790 791 792 793 794 795 796 797 798 799]
Train Index:  [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539
 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557
 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575
 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593
 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611
 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629
 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647
 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665
 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683
 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701
 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719
 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737
 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755
 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773
 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791
 792 793 794 795 796 797 798 799 900 901 902 903 904 905 906 907 908 909
 910 911 912 913 914 915 916 917 918 919 920 921 922 923 924 925 926 927
 928 929 930 931 932 933 934 935 936 937 938 939 940 941 942 943 944 945
 946 947 948 949 950 951 952 953 954 955 956 957 958 959 960 961 962 963
 964 965 966 967 968 969 970 971 972 973 974 975 976 977 978 979 980 981
 982 983 984 985 986 987 988 989 990 991 992 993 994 995 996 997 998]

Test Index:  [800 801 802 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817
 818 819 820 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835
 836 837 838 839 840 841 842 843 844 845 846 847 848 849 850 851 852 853
 854 855 856 857 858 859 860 861 862 863 864 865 866 867 868 869 870 871
 872 873 874 875 876 877 878 879 880 881 882 883 884 885 886 887 888 889
 890 891 892 893 894 895 896 897 898 899]

Train Index:  [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539
 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557
 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575
 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593
 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611
 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629
 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647
 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665
 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683
 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701
 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719
 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737
 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755
 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773
 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791
 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809
 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827
 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845
 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863
 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881
 882 883 884 885 886 887 888 889 890 891 892 893 894 895 896 897 898 899]

Test Index:  [900 901 902 903 904 905 906 907 908 909 910 911 912 913 914 915 916 917
 918 919 920 921 922 923 924 925 926 927 928 929 930 931 932 933 934 935
 936 937 938 939 940 941 942 943 944 945 946 947 948 949 950 951 952 953
 954 955 956 957 958 959 960 961 962 963 964 965 966 967 968 969 970 971
 972 973 974 975 976 977 978 979 980 981 982 983 984 985 986 987 988 989
 990 991 992 993 994 995 996 997 998]

In [75]:
best_svr.fit(X_train, y_train)
scores.append(best_svr.score(X_test, y_test))

In [76]:
print(np.mean(scores))

-0.11402366058509371

In [77]:
cross_val_score(best_svr, X, y, cv=10)

array([-0.06180013, -0.06592716, -0.05330657, -0.21528053, -0.15365047,
       -0.0377382 , -0.4109648 , -0.27954506, -0.42661503, -0.01264751])

In [ ]:
#Prediction models (NB, RF, SVM, DT)
models = []
models.append(('NB', GaussianNB()))
models.append(('RF', RandomForestClassifier()))
models.append(('SVM', SVC(gamma='auto')))
models.append(('DT', DecisionTreeClassifier()))

results = []
resultsavg = []
names = []
resultsstd = []

for name, model in models:
    cv_results = cross_val_score(model, xm, y, cv=kfold, scoring='accuracy')
    
    results.append(cv_results)
    resultsavg.append(cv_results.mean())
    resultsstd.append(cv_results.std())
    names.append(name)
    print('%s: %f (%f)' % (name, cv_results.mean(), cv_results.std()))

In [ ]:
#ANN model (MLP Classifier sk-learn)
model_ANN = MLPClassifier(alpha=0.05, max_iter=300, hidden_layer_sizes=(15,), random_state=1) #15 Neurons with 1 hidden layer

cv_results_ANN = cross_val_score(model_ANN, xm, y, cv=kfold, scoring='accuracy')
cv_results_ANN_mean = cv_results_ANN.mean()
cv_results_ANN_std = cv_results_ANN.std()
cv_results_ANN_name = 'ANN'
print('%s: %f (%f)' % (cv_results_ANN_name, cv_results_ANN_mean, cv_results_ANN_std))

In [ ]:
#Keras Deep Neural Network with sk-learn (Keras Classifier) + (Sequentional Model)
def baseline_model():
    # create model
    model_DNN = Sequential()
    model_DNN.add(Dense(12, input_dim=11, activation='relu'))
    model_DNN.add(Dense(8, activation='relu'))
    model_DNN.add(Dense(8, activation='relu'))
    model_DNN.add(Dense(2, activation='softmax'))
    # Compile model
    model_DNN.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    return model_DNN

model1_DNN = KerasClassifier(build_fn=baseline_model, epochs=200, batch_size=5, verbose=0)

cv_results_DNN = cross_val_score(model1_DNN, xm, y, cv=kfold, scoring='accuracy')
cv_results_DNN_mean = cv_results_DNN.mean()
cv_results_DNN_std = cv_results_DNN.std()
cv_results_DNN_name = 'DNN'
print('%s: %f (%f)' % (cv_results_DNN_name, cv_results_DNN_mean, cv_results_DNN_std))